name: Update Podcasts

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        
    - name: Install Libraries
      run: |
        sudo apt-get install -y ffmpeg
        pip install -r requirements.txt
        
    - name: Run Script
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: python podcast_gen.py
      
    - name: Commit Changes
      if: always() # S'exécute même si le script Python plante
      run: |
        git config --global user.name 'Bot'
        git config --global user.email 'bot@noreply.github.com'
        # On s'assure que le fichier de log existe pour éviter l'erreur fatal
        touch downloaded_log.txt
        # On ajoute tous les changements (XML et logs)
        git add .
        # On commit seulement s'il y a des changements
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update RSS" && git push)
